.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vmin;
  width:100%;
  background-image: linear-gradient(to right, #2874a6 , #aed6f1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container{
  background-color: black;
  color: white;
  width: 50vmin;
  /* height: 80vmin; */
  padding: 10px;
}

.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftHeaderUI{
  display: flex;
  flex-direction: row;
}

.name{
  display: flex;
  align-self: center;
  margin: 0px;
}

.notificationUI{
  display: flex;
  float: right;
}

.notificationCount{
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: red;
  display: flex;
  align-self: center;
  position: absolute;
  z-index: 1;
  margin-left: 19px;
  display: flex;
}

.count{
  margin-left: 4.5px;
    margin-top: -2px;
    justify-content: center;
    font-size: small;
}

.textUI{
  margin-top: 3vmin;
  width: 50vmin;
  background-color: rgb(77, 74, 74);
  display: inline-block;
  border-radius: 4px;
}

.iconColor{
  color: white;
}

.timeUI{
  margin-top: 4vmin;
  width: 50vmin;
  background-color: rgb(77, 74, 74);
  display: inline-block;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: 'absolute';
  bottom:0
}
